[Unit]
Description={{ fx_service_name }} Server
After=network.target

[Service]
Type=simple
User=fivem
Group=fivem_admins
WorkingDirectory={{ service_dir_fxserver }}/server-data
ExecStart={{ service_dir_fxserver }}/server/run.sh +exec {{ service_dir_fxserver }}/server-data/server.cfg
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fivem_{{ environment_name }}

[Install]
WantedBy=multi-user.target