[Unit]
Description=Docker Compose for MariaDB {{ server_name }} environment
Requires=docker.service
After=docker.service

[Service]
User={{ mariadb_service_name }}
WorkingDirectory={{ service_dir_mariadb }}
ExecStart=/usr/bin/docker-compose up -d
ExecStop=/usr/bin/docker-compose stop
Restart=always
RestartSec=5s


[Install]
WantedBy=multi-user.target
