[Unit]
Description={{ fx_service_name }} Server
After=network.target
# OnFailure=your-notification-service.target

[Service]
#Type=simple
Type=forking
User=debian
Group=fivem
WorkingDirectory={{ service_dir_fxserver }}/server-data
ExecStart=sudo /usr/bin/screen -dmS {{ fx_service_name }} {{ service_dir_fxserver }}/server/run.sh
ExecStop=sudo /usr/bin/screen -S {{ fx_service_name }} -X quit
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fivem_{{ environment_name }}

# Limit restarts
# 10 minute window
StartLimitIntervalSec=600
# limit to 3 restarts in 10 minutes
StartLimitBurst=3

[Install]
WantedBy=multi-user.target